* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

html {
  background: #F5F5F5;
  overflow-y: scroll;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul li {
  color: white;
  cursor: pointer;
}

li {
  list-style-type: none;  
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.blog-card {
  transition: 0.25s ease-in-out all;
  display: initial;
}

.blog-card:hover {
  transform: scale(1.01);
}

.nav-items {
  display: flex;
  align-items: center;
}